$default-font: "Montserrat", sans-serif;
$default-font-2: "Montserrat", sans-serif;
$default-font-3: "Montserrat", sans-serif;
$wc: #fff;
$bc: #0F1010;
$grey-color: #4A5866;
$accent-color: #4F307F;
$accent-color-2: #D0CED8;
$text-color: #27292B;
$text-color-dark: #27292B;
$bg-color: #DFDEE1;
$text-color-light: #FFF;
$golden-gradient: linear-gradient(89deg, #27292B 0%, #BB9983 100%);
$wood-color: #A48971;